body {
  margin: 0;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* colors, headings, buttons, spacing */
.btn-primary {
  background-color: #6eb9ff;
  border-color: transparent;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7rem;
  padding: 15px 30px;
  font-weight: 600;
}
.btn-primary:hover {
  background-color: #FAA2FB;
  border-color: transparent;
  color: #6efffa;
}
h1 {
  background: -webkit-linear-gradient(90deg,rgba(110, 255, 250, 1) 0%,rgba(217, 120, 255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 
h2 {
  color: #6eb9ff;
  font-weight: 600;
}

section {
  padding-top: 5rem;
}

/* navbar */
.logo-name {
  background: -webkit-linear-gradient(90deg,rgba(110, 255, 250, 1) 0%,rgba(217, 120, 255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 800;
}
.navbar {
  background-color: white;
}
.navbar-toggler i {
  background: -webkit-linear-gradient(90deg,rgba(110, 255, 250, 1) 0%,rgba(217, 120, 255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  padding: 10px;
  border: 2px solid #6eb9ff;
  border-radius: 5px;
}
.navbar-nav .nav-link {
  color: #6eb9ff;
  font-weight: 600;
}
.navbar-nav .nav-link:hover {
  color: #FAA2FB;
}
.nav-link.active {
  color: #FAA2FB;
  border-bottom: 1px solid #FAA2FB;
}

/* jumbotron */
.hero-section .jumbotron {
  background: url("../assets/img/home-bg.jpg") bottom center / cover no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}
.hero-section .jumbotron:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero-section .container {
  z-index: 1;
}
#signInForm .form-control {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
/* footer */
.footer-wrapper {
  background: linear-gradient(90deg, rgba(110,255,250,1) 0%, rgba(217,120,255,1) 100%);
  z-index: 1;
}
.footer-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: -1;
}
.logo-name--footer {
  color: white;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 800;
}
.social-links i {
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 12px 0;
  text-align: center;
  line-height: 7px;
}
.social-links i:hover {
  background-color: #d978ff;
  border-color: #d978ff;
}